@charset "utf-8";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    moz-appearance: none;
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
}

h1, h2, h3, h4, p, a {
    color: #6082bb;
    font-family: 'HandelGothicBT' !important; 
    text-decoration: none;
}

h1 {
	font-size: 3rem; /* ~ 45px */
    line-height: 5rem;
}

h2 {
	font-size: 2.5rem;
    line-height: 4rem;
}

h3 {
    font-size: 2rem;
    line-height: 3rem;
}

p {
    font-size: 1.2rem; /* ~ 18px */
    line-height: 2rem;
}

a {
    border-bottom: 1px solid;
    font-size: 1.2rem; /* ~ 18px */
}

a:hover {
    color: #6082bb;
    cursor: pointer;
    border-bottom: none;
}

a.link {
    border-bottom: 1px solid;
}

a.transparent {
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
}

a.social {
    border-bottom: none;
    margin-right: 10px;
}

a.social:hover {
    opacity: 0.7;
}

a.fechar {
    border: none;
    /*display: none;*/
    font-family: sans-serif !important;
    font-size: 1.5em;
    position: absolute;
    right: 10px;
    top: 5px;
}

.todo a.fechar {
    font-size: 3em;
    right: 30px;
    top: 30px;
}

a.fechar:before {
    content: "X";
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.relative {
    position: relative;
}

.opacity-1 {
    opacity: 1 !important;
}

.overflow-hidden {
    overflow: hidden;
}

.clear:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.center {
    text-align: center;
}

.branco {
    color: #FFFFFF;
}

.azul {
    color: #6082bb;
}

.preto {
    color: rgba(0,0,0,.87);
}

.bg-cinza-claro {
    background-color: #e2e3e4;
}

.toUpper {
    text-transform: uppercase;
}

.has-shadow {
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .14);
}

.border-none {
    border: none;
}

.erro {
    color: red;
    font-size: 0.8rem;
}

/* OWN RESET */

.own-grid {
    margin: 25px 0;
}

.own-grid .four.computer.two.tablet.one.smart {
    float: left;
    width: 25%;
}

.own-grid .one.computer {
    width: 100%;
}

@media screen and (max-width: 1199px) {
    .own-grid .four.computer.two.tablet.one.smart {
        margin: 10px 0;
        width: 50% !important;
    }

    .todo a.fechar {
        font-size: 2rem;
        right: 10px;
        top: 10px;
        z-index: 9999;
    }
}

@media screen and (max-width: 699px) {
    .own-grid .four.computer.two.tablet.one.smart {
        float: none;
        width: 100% !important;
    }

    h1 {

    }

    h2 {
        font-size: 2rem;
        line-height: 3rem;
    }

    h3 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    p, a {
        font-size: 1.1rem;
    }

    input {
        padding: 10px;
    }

    a.fechar {
        display: block !important;
    }
}

form {
    margin: 0 auto;
    width: 90%;
}

fieldset {
    border: none;
}

input, textarea {
    border: 1px solid #6082bb;
    border-radius: 5px;
    font-family: 'Arial' !important; 
    font-size: 1.1rem;
    margin: 10px 0 5px;
    padding: 15px 10px;
    resize: none;
    width: 100%;
}

input[type="file"] {
    opacity: 0;
    position: absolute;
    width: 0;
    z-index: -1;
}

input[type="file"] + label {
    border-radius: 5px;
    border: 1px solid #6082bb;
    color: rgba(0, 0, 0, .4) !important;
    cursor: pointer;
    display: inline-block;
    font-family: 'Arial' !important;
    font-size: 1.1rem;
    margin: 10px 0 0;
    overflow: hidden;
    padding: 15px 10px;
    width: 100%;
}

input[type="file"] + label.has-file {
    color: #000000 !important;
}

textarea {
    min-height: 150px;
}

.btn {
    background-color: #6082bb;
    color: #FFFFFF;
    transition: all .5s;
}

.btn:hover {
    background-color: #FFFFFF;
    color: #6082bb;
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .4) !important;
}

::-moz-placeholder {
    color: rgba(0, 0, 0, .4) !important;
}

:-ms-input-placeholder {
    color: rgba(0, 0, 0, .4) !important;
}