.container {
    margin: 0 auto;
    max-width: 1400px;
}

.container.menor {
    max-width: 800px;
}

.all-site {
    padding-top: 130px;
}

.external-link {
    background: url(../img/ico-link.png) no-repeat;
    display: inline-block;
    height: 18px;
    margin-right: 4px;
    position: relative;
    top: 4px;
    width: 18px;
}

.heart {
    font-size: 0.9em;
    width: 100%;
}

.heart i {
    color: red;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

footer {
    border-top: 1px solid #e2e3e4;
    padding: 10px 0;
    position: relative;
    text-align: center;
    width: 100%;
} 

.top {
	background-color: #6082bb;
	height: 80px;
    padding-top: 30px;
	width: 100%;
}

.top img {
    color: wheat;
}

.top p.members {
    float: right;
    font-size: 0.9em;
}

.logo {
    border-bottom: none;    
}

.logo img {
    max-width: 120px;
}

.menu {
    background-color: #FFFFFF;
    border-bottom: 1px solid #6082bb;
    height: 50px;
}

.menu ul li {
    display: inline-block;
    list-style: none;
    padding: 0 20px;
}

.menu ul li.social {
    float: right;
    padding: 0 10px;
}

.menu ul li a {
    border-bottom: 4px solid transparent;
    display: block;
    padding: 15px 0 8px;
}

.menu ul li:not(.social) a:hover {
    border-bottom: 4px solid #6082bb;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}

.ico-menu {
    cursor: pointer;
    display: none;
    float: right;
    height: 25px;
    position: relative;
    top: 4px;
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    width: 35px;
    z-index: 9;
}

.ico-menu span,
.ico-menu span:before,
.ico-menu span:after {
    background-color: #FFFFFF;
    display: block;
    height: 4px;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 10px;
    width: 100%;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

.ico-menu span:before {
    content: ".";
    top: -10px;
}

.ico-menu span:after {
    content: ".";
    top: 10px;
}

.ico-menu.open span {
    background: transparent;
}

.ico-menu.open span:before {
    top: -2px;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.ico-menu.open span:after {
    top: -1px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);  
}

section {
    padding: 60px 0;
}

.blog-article {
    border: 1px solid #CCCCCC;
    margin: 0 auto;
    height: 300px;
    width: 80%;
}

.blog-article .has-image {
    height: 200px;
}

.blog-article .has-image img {
    height: 100%;
    /*width: 100%;*/
}

.blog-article .has-content {
    height: auto;
    text-align: left;
    padding: 10px;
}

.blog-article .has-content p {
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 1rem;
}

.partners {
    padding: 25px 0;
}

.partners a {
    border-bottom: none;
}

.partners img {
    margin-right: 15px;
    max-width: 150px;
}

.back-top {
    background: url(../img/ico-seta-up.png) center no-repeat #6082bb;
    border-radius: 100%;
    bottom: 10px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .14);
    height: 50px;
    opacity: 0;
    position: fixed;
    right: 10px;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    width: 50px;
    z-index: 3;
}

.modal {
    background: rgba(0, 0, 0, .8);
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 88888;
}

.modal-content {
    background: #FFFFFF;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .4);
    display: block;
    height: auto;
    left: 50%;
    margin-left: -300px;
    overflow: auto;
    padding: 20px 0 30px; 
    position: fixed;
    top: -1000px;
    width: 600px;
    z-index: 99999;
}

.modal-content.active {
    top: 50px;
    transition: all .3s;
}

.modal-content-full {
    display: table;
    height: 100% !important;
    left: 0 !important;
    margin-left: 0 !important;
    padding: 0;
    width: 100% !important;
}

.modal-content-full.active {
    top: 0 !important;
}

.modal-content-full .todo {
    display: table-cell;
    vertical-align: middle;
}

#slideEvents .owl-stage-outer {
    height: 210px;
}

#slideEvents .owl-item .item {
    border: 1px solid #CCCCCC;
    height: 200px;
    margin: 0 auto;
    width: 80% !important;
}

#slideEvents .owl-item .item span {
    display: table-cell;
    height: 200px;
    vertical-align: middle;
    width: 300px;
}

#slideEvents .owl-item .item img {
    margin: 0 auto;
    max-height: 200px;
    max-width: 80%;
}

.prev, .next {
    background-color: #6082bb;
    border-radius: 100%;
    color: #FFF;
    cursor: pointer;
    display: block;
    height: 40px;
    padding: 12px 14px;
    position: absolute;
    top: 80px;
    width: 40px;
    z-index: 9;
}

.next {
    right: 0;
}

.tags {
    margin-top: 5px;
    text-align: left;
}

.tags a {
    background-color: #6082bb;
    border-radius: 10px;
    border: 1px solid;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 40px;
    padding: 10px;
}

.tags a.selected {
    background-color: #FFF;
    color: #6082bb;
    transition: .4s all;
}

.loading {
    background: url(../img/loading.gif) no-repeat center #FFFFFF;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.box-participation {
    border: 1px solid #CCCCCC;
    margin: 10px auto;
    height: 200px;
    width: 80%;
}

.box-participation span {
    display: table-cell;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    width: 300px;
}

.box-participation img {
    max-height: 200px;
    max-width: 80%;
}

#slideParticipations {
    margin: 20px auto 10px;
    max-width: 50%;
}

#slideParticipations .owl-item .item {
    height: 300px;
}

.modal-content-full .next {
    right: 23%;
    top: 130px;
}

.modal-content-full .prev {
    left: 23%;
    top: 130px;
}

@media screen and (max-width: 1366px) {
    .container {
        max-width: 1200px;
    }
}

@media screen and (max-width: 1200px) {
    .container,
    .container.menor {
        max-width: 700px;
    }

    .all-site {
        padding-top: 80px;
    }

    .menu {
        border-bottom: none;
        height: 100%;
        display: none;
        position: fixed;
        width: 100%;
    }

    .menu ul {
        height: 80%;
        position: absolute;
        overflow: auto;
        width: 700px;
    }

    .menu ul li {
        display: block;
    }

    .menu ul li a:hover {
        border-color: transparent !important;
    }

    .menu ul li.social.fb {
        padding: 0 20px 0 0;
    }

    .menu ul li.social {
        float: right;
        display: inline-block;
        margin-bottom: 25px;
        padding: 0 23px;
    }

    .ico-menu {
        display: block;
    }

    .members {
        display: none;
    }

    .modal-content-full .container {
        height: 95%;
        overflow: auto;
    }

    #slideParticipations .owl-item .item {
        height: 200px;
    }

    .modal-content-full h2 {
        font-size: 1.8rem;
        line-height: 2rem;
        padding-top: 40px;
    }

    .modal-content-full .prev,
    .modal-content-full .next {
        top: 80px;
    }

    .modal-content-full .next {
        right: 22%;
    }

    .modal-content-full .prev {
        left: 22%;
    }
}

@media screen and (max-width: 699px) {
    .container,
    .container.menor {
        max-width: 300px;
    }

    .menu ul {
        width: 300px;
    }

    .modal-content {
        height: 90%;
        margin-left: -150px;
        width: 300px;
    }

    .modal-content.active {
        top: 5%;
    }

    .fa-2x {
        font-size: 1.5em;
    }

    .partners img {
        display: block;
        margin: 10px auto;
        max-width: 100px;
    }

    .modal-content-full h2 {
        font-size: 1.2rem;
    }

    .modal-content-full p {
        display: none;
    }

    .modal-content-full .prev,
    .modal-content-full .next {
        display: none;
    }

    #slideParticipations {
        max-width: 100%;
    }

    #slideParticipations .owl-item .item {
        height: 200px;
    }
}